.close {
    font-size: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

}

#Button {
    width: 100%;
    font-size: large;
    font-family: 'Zen Kaku Gothic Antique', sans-serif
}

#Project1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
    height: auto;
}

#Project2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 20px;
    height: 60%;
}

#Project3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 20px;
    height: 100%;
}

#Project4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 20px;
    height: 100%;
}

#Project5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
    height: 100%;
}

#Project6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
    height: 90%;
}

a {
    color: black;
}