@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

.bg-light {
    --bs-bg-opacity: 0;
    /* right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute; */
};

.portrait {
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

#banner {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 10rem;
}

#bio {
    font-family: 'Bebas Neue', cursive;

    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}