@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

div.project-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#portfolio{
    padding: 10px;
}

#header {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 10vw;
    color: black;
}

#submit{
    font-size: 20px;
}

.form-control{
    font-size: 20px;
}

#Movieferee{
    height: 350px;
}

#Kringle{
    height: 350px;

}

#TechBlog{
    height: 250px;
}

#Tracker{
    height: 200px;
}